@font-face {
    font-family: sc;
    src: url('../fonts/soundcloud_font_medium.woff2');
    font-weight :300;
}

@font-face {
    font-family: sc;
    src: url('../fonts/soundcloud_font_bold.woff2');
    font-weight: 400
}



html{
    font-family: sc;
    font-weight: 300;
}